:root {
    --semi-trans: rgba(0, 0, 0, 0.5);
    --off-white: #f3f3f3;
}

body {
    background-color: rgb(20, 20, 30);
    font-family: 'Kodchasan', sans-serif;
    font-size: 16px;
    text-align: center;
    color: var(--off-white);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--semi-trans);
    border-radius: 0 0 5px 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 800px;
    letter-spacing: 6px;
}

h1 {
    margin: 0;
}

img {
    margin: auto;
    width: 550px;
    height: 350px;
    object-fit: cover;
    display: none;
    text-align: left;
    border-radius: 5px;
}

button {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid var(--off-white);
    border-radius: 5px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
}

button:hover {
    background-color: rgba(85, 107, 47, 0.7);
}

dt {
    color: rgba(204, 223, 172, 0.8);
    margin: 10px 0;
}

dd {
    margin: 0;
}

footer {
    background-color: var(--semi-trans);
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: var(--semi-trans);
    display: inline-block;
}

.corner-border {
    width: 580px;
    height: 380px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    border-radius: 5px;

    background:
        linear-gradient(to right, var(--semi-trans) 6px, transparent 6px) 0 0,
        linear-gradient(to right, var(--semi-trans) 6px, transparent 6px) 0 100%,
        linear-gradient(to left, var(--semi-trans) 6px, transparent 6px) 100% 0,
        linear-gradient(to left, var(--semi-trans) 6px, transparent 6px) 100% 100%,
        linear-gradient(to bottom, var(--semi-trans) 6px, transparent 6px) 0 0,
        linear-gradient(to bottom, var(--semi-trans) 6px, transparent 6px) 100% 0,
        linear-gradient(to top, var(--semi-trans) 6px, transparent 6px) 0 100%,
        linear-gradient(to top, var(--semi-trans) 6px, transparent 6px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 35px 25px;
}

.loader {
    border: 8px solid var(--off-white);
    border-top: 8px solid var(--semi-trans);
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

.description {
    display: none;
    width: 800px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}